* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #fff;
  --color-white-2: #e1e1f0;
  --color-white-3: rgba(255, 255, 255, 0.1);
  --color-black: #000;
  --color-dark-1: #0e1b1f;
  --color-dark-2: #1f343b;

  --color-primary-1: #f55f8d;
  --color-primary-1-1: rgba(255, 182, 203, 0.3);
  --color-primary-2: #f8ae56;
  --color-gradient-primary: linear-gradient(
    to right,
    var(--color-primary-1) 0,
    var(--color-primary-2) 40%,
    var(--color-primary-1) 80%,
    var(--color-white) 81%,
    var(--color-white) 100%
  );
  --color-gradient-white: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );

  --color-text-dark: #262626;

  --color-text-light: #636363;

  --height-header: 90px;
  --width-container: 80%;

  --box-shadow: 0 0 40px rgba(0, 0, 0, 0.12);
}

body[data-aos-duration="4000"] [data-aos],
[data-aos][data-aos][data-aos-duration="4000"] {
  transition-duration: 4000ms;
}

body[data-aos-delay="3500"] [data-aos],
[data-aos][data-aos][data-aos-delay="3500"] {
  transition-delay: 3500ms;
}

body[data-aos-delay="4000"] [data-aos],
[data-aos][data-aos][data-aos-delay="4000"] {
  transition-delay: 4000ms;
}

body[data-aos-delay="5000"] [data-aos],
[data-aos][data-aos][data-aos-delay="5000"] {
  transition-delay: 5000ms;
}

body,
html {
  color: var(--color-text-light);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
}

.container {
  width: var(--width-container);
  min-width: 1024px;
  margin: 0 auto;
}

.container-full {
  width: 100%;
  min-width: 1024px;
}

/* TYPOGRAPHY 
===============================================================*/
.heading__primary {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: var(--color-text-dark);
  margin-bottom: 20px;
}

.heading__primary-standard {
  font-size: 28px;
  color: var(--color-text-dark);
}

.heading__primary-decs {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--color-primary-1);
}

.heading__secondary-large {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-text-dark);
}

.heading__secondary-standard {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-text-dark);
}

.heading__secondary-standard-footer {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-white);
}

.heading__secondary-small {
  font-size: 1.375rem;
  font-weight: 800;
  color: var(--color-text-dark);
  line-height: 26px;
  margin-bottom: 5px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

/* HEADER 
===============================================================*/
.header-section {
  position: absolute;
  width: 100%;
  height: var(--height-header);
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.header__nav ul li {
  cursor: pointer;
}

.header__nav ul li a {
  color: var(--color-text-dark);
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.2s;
}

.header__nav ul li:hover a {
  animation: UpToDown 0.3s;
  color: var(--color-primary-1);
}

.header__nav ul li a i {
  font-size: 8px;
}

/* HERO 
===============================================================*/
.hero-section {
  background-image: url(../img/pic2.png);
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}

.hero {
  display: flex;
  padding-top: var(--height-header);
}

.hero__left {
  padding-top: 100px;
  padding-right: 70px;
}

.hero__right img {
  display: block;
}

.hero__left-list {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hero__left-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero__left-item i {
  background: var(--color-gradient-primary);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
}

/* SERVICES 
===============================================================*/
.services-section {
  background-image: url(../img/bg2.png);
  background-position: top center;
  background-size: cover;
  padding: 100px 0;
}

.services {
  text-align: center;
}

.services__cards {
  display: flex;
  gap: 40px;
  margin-top: 50px;
}

.services__card {
  box-shadow: var(--box-shadow);
  padding: 50px 70px;
  background-color: var(--color-white);
  border-radius: 10px;
  transform: translateY(0);
  transition: all 0.5s;
}

.services__card:hover {
  transform: translateY(-20px);
}

.services__img img {
  width: 100%;
  display: block;
}

.services__text h2 {
  margin: 20px 0;
}

/* SERVICES 
===============================================================*/
.index-section {
  padding: 100px 0;
  background-image: url(../img/bg14.png);
  background-position: center;
  background-size: cover;
}
.index {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.index__item p:nth-child(2) {
  color: var(--color-primary-1);
  font-size: 65px;
  font-weight: 800;
  line-height: 1;
}

.index__number {
  display: flex;
  gap: 20px;
}

.index__number p {
  color: var(--color-primary-1);
  font-size: 65px;
  font-weight: 800;
  line-height: 1;
}

.index__icon {
  --wh-icon: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    var(--color-primary-1) 0,
    var(--color-primary-2) 61%
  );
  width: var(--wh-icon);
  height: var(--wh-icon);
  margin: 0 auto;
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.index__icon i {
  font-size: calc(var(--wh-icon) / 2);
  color: var(--color-white);
}
/* BUILD 
===============================================================*/
.build-section {
  background-image: url(../img/bg15.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0;
}

.build {
  display: flex;
  align-items: center;
  gap: 100px;
}

.build > * {
  width: 50%;
}

.build__left img {
  width: 100%;
  display: block;
  border-radius: 0 100px 100px 0;
}

.build__right {
  padding-right: calc((100% - var(--width-container)) / 2);
}

.build__right ul {
  margin: 20px 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.build__right ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.build__right li i {
  font-size: 28px;
  color: var(--color-primary-1);
}

/* FEATURES 
===============================================================*/
.features-section {
  padding: 100px 0;
  background-image: url(../img/bg2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.features {
  display: flex;
}

.features > * {
  width: 50%;
}

.features__left {
  padding-right: 50px;
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.features__item {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 90%;
  padding: 0 20px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  background-image: var(--color-gradient-primary);
  background-size: 540%;
  background-position: 100%;
  transition: all 0.5s ease-in-out;
}

.features__item:hover {
  background-size: 300%;
  background-position: 60%;
}

.features__item:hover i,
.features__item:hover p,
.features__item:hover h3 {
  color: var(--color-white);
}

.features__list div:nth-child(even) .features__item {
  margin-left: auto;
}

/* .features__item, */
.features__item i,
.features__item p,
.features__item h3 {
  transition: all 0.5s;
}

.features__item i {
  font-size: 80px;
  color: var(--color-primary-1);
}

.features__right img {
  width: 100%;
  display: block;

  animation: rotate 5s ease-in-out infinite;
}

/* PORTFOLIO 
===============================================================*/
.portfolio-section {
  padding: 100px 0;
}

.portfolio {
  text-align: center;
}

.portfolio__img {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.portfolio__img::before {
  position: absolute;
  content: "";
  top: 0;
  left: -90%;
  width: 50%;
  height: 100%;
  background-image: var(--color-gradient-white);
  z-index: 1;
  transform: skewX(335deg);
  transition: all 0.5s;
}

.portfolio__img:hover::before {
  left: 120%;
}

.portfolio__img:hover img {
  filter: brightness(70%);
}

.portfolio__img:hover .portfolio__text {
  transform: translateY(0);
  transition-delay: 0.1s;
}

.portfolio__img:hover .portfolio__view {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
  cursor: pointer;
}

.portfolio__text {
  position: absolute;
  /* outline: 1px solid red; */
  color: var(--color-white);
  text-align: start;
  bottom: 0;
  left: 0;
  padding: 30px;
  z-index: 1;
  transform: translateY(100%);
  transition: all 0.5s;
}

.portfolio__text > * {
  color: inherit;
}

.portfolio__text p {
  opacity: 0.7;
}

.portfolio__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: all 0.5s;
}

.portfolio__imgs {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-template-rows: 1fr 0.5fr 1fr;
  grid-template-areas:
    "img-1 img-1 img-2 "
    "img-3 img-4 img-5"
    "img-6 img-6 img-5";
  gap: 50px;
}

.portfolio__img-1 {
  grid-area: img-1;
}

.portfolio__img-2 {
  grid-area: img-2;
}

.portfolio__img-3 {
  grid-area: img-3;
}

.portfolio__img-4 {
  grid-area: img-4;
}

.portfolio__img-5 {
  grid-area: img-5;
}

.portfolio__img-6 {
  grid-area: img-6;
}

.portfolio__view {
  position: absolute;
  padding: 10px 15px;
  background-image: var(--color-gradient-primary);
  background-size: 240%;
  background-position: 5%;
  z-index: 1;
  border-radius: 5px;
  right: 20px;
  top: 20px;
  color: var(--color-white);
  opacity: 0;
  visibility: hidden;
  transition: all 0.75s;
  transform: translate(20px, -20px);
}

.portfolio__view:hover {
  background-position: 60%;
}

/* PLAN 
===============================================================*/
.plan-section {
  padding: 0 0 100px;
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.plan {
  text-align: center;
}

.plan__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.plan__item {
  background-color: var(--color-white);
  padding: 50px 70px;
  box-shadow: var(--box-shadow);
  border-radius: 12px;
  transition: all 0.5s;

  /* cách 1 
    lặp lại border image lên số cao
    image border nhỏ dần và mất
    không bị anh hưởng khi thay đổi kích thước đáp ứng responsive*/
  border: 3px solid transparent;
  border-image: url(../img/br.png) 100 round;

  /* cách 2
    tăng size hình lên để hình biết mất 
    bị lệch khi thay đổi chiều cao không đá ứng responsive*/
  /* background-image: url(../img/br.png);
    background-position: center;
    background-size: 103%;
    background-repeat: no-repeat; */
}

.plan__item:hover {
  /* cách 1
    lặp lại border image giảm xuống 1 hiện nguyên hình border
    đáp ứng responsive*/
  border-image: url(../img/br.png) 1 round;
  /* cách 2
    
    giảm nền xuống 100% hiện nguyên hình 
    không đá ứng responsive**/
  /* background-size: 100%;
    background-position: center; */
}

.plan__title {
  border-bottom: 1px solid var(--color-white-2);
}

.plan__img {
  padding: 0 50px;
}

.plan__img img {
  width: 100%;
  display: block;
}

.plan__price span:nth-child(1) {
  color: var(--color-primary-2);
  font-size: 50px;
  font-weight: 800;
}

.plan__price span:nth-child(2) {
  color: var(--color-text-dark);
  font-weight: 600;
}

.plan__content {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}

.plan__content li {
  display: flex;
  align-items: center;
  gap: 20px;
}

.plan__content li a {
  text-decoration: none;
}

.plan__content li i {
  padding: 5px;
  border-radius: 50%;
  background-color: var(--color-primary-1-1);
  color: var(--color-primary-1);
  font-size: 14px;
}

/* TESTIMONIAL 
===============================================================*/
.testimonial-section {
  background-image: url(../img/bg17.png);
  background-position: center;
  background-size: cover;
  text-align: center;
}

.testimonial__thumb {
  --color-rgba: rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0) 100%;
  width: 520px;
  margin: 0 auto;
  padding: 40px 0 52px;
  position: relative;
}

.testimonial__thumb::after,
.testimonial__thumb::before {
  position: absolute;
  content: "";
  width: 20%;
  height: 100%;
  top: 0px;
  z-index: 2;
}

.testimonial__thumb::after {
  left: 0;
  background-image: linear-gradient(to right, var(--color-rgba));
}

.testimonial__thumb::before {
  right: 0;
  background-image: linear-gradient(to left, var(--color-rgba));
}

.testimonial__thumb .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial__thumb-img {
  border-radius: 50%;
  width: 50%;
  position: relative;
  transition: all 3s;
}

.testimonial__thumb-img::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 40%;
  top: 60%;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-primary-1);
  clip-path: polygon(
    0 0,
    100% 0,
    84% 19%,
    71% 39%,
    60% 64%,
    50% 100%,
    40% 64%,
    29% 39%,
    16% 19%
  );
  opacity: 0;
  transition: all 2s;
}

.testimonial__thumb-img img {
  width: 100%;
  border-radius: 50%;
  border: 5px solid var(--color-primary-1);
  display: block;
}

.swiper-slide {
  position: relative;
}

.swiper-slide::after {
  position: absolute;
  --wh: 16px;
  content: "";
  width: var(--wh);
  height: var(--wh);
  background-color: var(--color-primary-1);
  border-radius: 50%;
  top: 100%;
  opacity: 0;
  transition: all 2s;
}

.swiper-slide::before {
  position: absolute;
  --wh: 10px;
  content: "";
  width: var(--wh);
  height: var(--wh);
  background-color: var(--color-primary-1);
  border-radius: 50%;
  top: 150%;
  opacity: 0;
  transition: all 3s;
}

.swiper-slide-thumb-active .testimonial__thumb-img {
  transform: translateY(-40px);
}

.swiper-slide-thumb-active .testimonial__thumb-img::after {
  opacity: 1;
  top: 93%;
}

.swiper-slide-thumb-active.swiper-slide::after,
.swiper-slide-thumb-active.swiper-slide::before {
  opacity: 1;
}

.testimonial__slider {
  padding: 50px 0 70px;
  margin-top: -40px;
}

.testimonial__text {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);
  border-radius: 16px;
}

.testimonial__text h3 {
  color: var(--color-text-dark);
  margin-bottom: 5px;
}

.testimonial__text p {
  font-weight: 400;
  font-style: italic;
}

.testimonial__text p:nth-child(2) {
  color: var(--color-primary-1);
  margin-bottom: 30px;
}

.testimonial__content {
  position: relative;
}

.testimonial__content .swiper-pagination {
  bottom: 40px;
  color: var(--color-primary-1);
}
.swiper-pagination-bullet-active {
  background-color: var(--color-primary-1);
}

/* BLOG 
===============================================================*/
.blog-section {
  padding-bottom: 100px;
  background-image: url(../img/bg16.png);
  background-position: center;
  background-size: cover;
  padding: 100px 0 50px;
}

.blog > p,
.blog > h2 {
  text-align: center;
}

.blog__box {
  background-color: var(--color-primary-1-1);
  padding: 35px 20px 20px;
  position: relative;
}

.blog__img {
  background-color: var(--color-primary-1-1);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.blog__img img {
  width: 100%;
  border-radius: 12px;
  display: block;
}

.blog__item {
  padding: 16px 20px;
}

.blog__box p:nth-child(1) {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  color: var(--color-white);
  padding: 10px 30px;
  background-image: var(--color-gradient-primary);
  background-size: 240%;
  background-position: 5%;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  line-height: 29px;
  transition: all 0.3s;
}

.blog__box p:nth-child(1):hover {
  background-position: 60%;
}

.blog__info {
  padding: 14px 20px;
  background-color: var(--color-primary-1-1);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top: 1px solid var(--color-white-2);
  display: flex;
  flex-wrap: wrap;
}

.blog__info i {
  font-size: 20px;
  color: var(--color-primary-1);
  margin-right: 5px;
}

.blog__info p {
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.blog__info span {
  color: var(--color-primary-1);
  margin-right: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  --wh: 30px;
  width: var(--wh);
  height: var(--wh);
  border-radius: 50%;
  background-image: var(--color-gradient-primary);
  background-size: 240%;
  background-position: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-position: 60%;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: var(--color-white);
  width: var(--wh);
  height: var(--wh);
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog__content .swiper-pagination span {
  background-color: var(--color-primary-1);
}

.blog__content {
  padding: 0 20px;
}

/* FOOTTER 
===============================================================*/
footer {
  background-color: var(--color-dark-1);
  background-image: url(../img/bg4.png), url(../img/pattern2.png);
  background-repeat: no-repeat;
  background-position: center, top;
  background-size: 100%;
  position: relative;
}

.footer {
  padding-bottom: 70px;
}

.footer__subscribe {
  background-image: url(../img/pattern3.png);
  background-size: cover;
  background-position: center;
  background-color: var(--color-white);
  padding: 50px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
}

.footer__form {
  display: flex;
  align-items: center;
  width: 40%;
  box-shadow: var(--box-shadow);
}

.footer .footer__form a {
  --border-radius: 6px;
  padding: 16px 30px;
  border-radius: unset;
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

ion-icon {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__form input {
  --border-radius: 6px;
  font-size: inherit;
  padding: 23px;
  border: none;
  background-color: var(--color-white);
  width: 100%;
  outline: none;
  border-bottom-left-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}

.footer__content {
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 300px;
}

.footer__content a {
  color: var(--color-text-light);
  text-decoration: none;
}

.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__list a {
  position: relative;
  transition: all 0.3s;
}

.footer__list li:not(:first-child) a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 2px;
  width: 0%;
  background-image: var(--color-gradient-primary);
  background-size: 240%;
  background-position: 5%;
  transition: all 0.3s ease-in-out;
}

.footer__list li:not(:first-child) a:hover::after {
  width: 100%;
}

.footer__list li:not(:first-child) a:hover {
  color: var(--color-white);
}

.footer__list li {
  display: flex;
  align-items: center;
}

.footer__list i {
  margin-right: 10px;
}

.footer__list li:nth-child(1) {
  margin-bottom: 20px;
}

.footer__list li:nth-child(1) h3 {
  color: var(--color-white);
  line-height: 63px;
  position: relative;
}

.footer__list li:nth-child(1) h3::before,
.footer__list li:nth-child(1) h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 10%;
  background-image: var(--color-gradient-primary);
  background-size: 240%;
  background-position: 5%;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.footer__list li:nth-child(1) h3::before {
  width: 20%;
}

.footer__list li:nth-child(1) h3::after {
  left: 25%;
  width: 50%;
}

.footer__list li:nth-child(1) h3:hover::before {
  background-position: 100%;
}

.footer__list li:nth-child(1) h3:hover::after {
  background-position: 157%;
}

.footer__content .footer__list:nth-child(1) i {
  --wh-icon: 40px;
  color: var(--color-white);
  background-image: var(--color-gradient-primary);
  background-size: 200%;
  width: var(--wh-icon);
  height: var(--wh-icon);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__content .footer__list:nth-child(1) li {
  color: var(--color-white);
}

.footer__copyright {
  background-color: var(--color-dark-2);
  padding: 20px 0;
}

.footer__copyright-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  font-size: 14px;
  letter-spacing: 0.7px;
}

.footer__copyright-content span {
  color: var(--color-primary-1);
}

.footer__social {
  display: flex;
  gap: 5px;
}

.footer__social i {
  --wh-icon: 32px;
  background-color: var(--color-white-3);
  width: var(--wh-icon);
  height: var(--wh-icon);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 16px;
  transition: all 0.3s;
}

.footer__social i:hover {
  background-color: var(--color-primary-1);
  cursor: pointer;
}

/* keyframes 
===============================================================*/

@keyframes UpToDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(100%);
    opacity: 0;
  }
  51% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}
